@use '../../scss/' as * ;

.footer {
    position: relative;
    padding: 6rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    

    &__content {
        max-width: 1000px;

        &__logo {
            @include flex(center, center);
            margin-bottom: 3rem;
        }


        
        &__menu {
            padding-left: 1rem;
            font-size: 1.3rem;
            font-weight: 500;
            //width: 100vw;

            & > * ~ * {
                margin-top: 1rem;
            }
        }
    }
}

.link {
    margin-left: 20vw;
}